*{
    margin: 0px;
    padding: 0px;
}


body{
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    background-color: black;
}





h1{
    color: white;
    margin-top: 31px;
    margin-bottom: 8px;
}

p{
    color: white;
    font-size: 20px;
}

img{
    width: 320px;
    height: 320px;
    border-radius: 20px;
}


li{
    list-style-type: none;

}

a {
    text-decoration: none;
    background-color: limegreen;
    color: white;
    padding: 15px;
    display: block;
    border-radius: 5px;
    font-size: 20px;

}

ul{ 
    margin-top: 35px;
}

li{
    margin-bottom: 18px;
}

.container { 
    width: 320px;
    text-align: center;
    margin-top: 41px;
    margin-left: auto;
    margin-right: auto;
}


footer {
    color: white;
    
}

